.checkout-page {
  padding: 2rem;
  max-width: 90%;
  margin: 0 auto;
  min-height: calc(100vh - 3rem);
}

.cart-items {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0rem;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.cart-item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.update-and-remove {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.quantity-button {
  background-color: #ddd;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.quantity-button:hover {
  background-color: #ccc;
}

.quantity-input {
  margin: 0 0.5rem;
  font-size: 1rem;
}

.remove-item-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  height: 80%;
}

.remove-item-button:hover {
  background-color: #d9363e;
}

/* Resumo do carrinho */
.cart-summary {
  text-align: right;
  margin-top: 2rem;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #218838;
}

/* Estilização do formulário de pagamento */
.payment-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 0.5rem;
}

.payment-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.form-input:focus {
  border-color: #80bdff;
  outline: none;
}

textarea.form-input {
  resize: none;
  height: 80px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.back-to-cart-button {
  background-color: #6c757d;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.back-to-cart-button:hover {
  background-color: #5a6268;
}
