.navbar {
  background-color: #462b38;
  color: white;
  padding: 0px 1rem;
  height: 3rem;

  display: grid;
  grid-template-columns: 12rem 1fr 12rem;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo-image {
  height: 3rem;
}

.logo-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-icon {
  height: 1.5rem;
  cursor: pointer;
  fill: white;
  padding: 0 1.2rem;
}
.cart-count {
  position: absolute;
  display: block;
  text-decoration: none;
  background: #f8f8f8;
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.2rem;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
  right: 6.7rem;
  border-radius: 9rem;
  top: 1.5rem;
}
