.product-page {
  display: flex;
  padding: 20px;
  gap: 20px;
  min-height: calc(100vh - 3rem);
}

.products-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(16rem,32rem));
  gap: 1.5rem 1rem;
  padding: 2rem;
  justify-items: center;
  margin: 1rem; 	
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar legend {
  font-size: 1.3rem;
  font-weight: bold;
  color: #462b38;
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.sidebar input[type="checkbox"] {
  margin-right: 10px;
}

.error-message {
  color: #c62828;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.sidebar div {
  margin-bottom: 20px;
}

.sidebar div:last-child {
  margin-bottom: 0;
}

.sidebar input[type="checkbox"] {
  margin-top: 5px;
  margin-right: 10px;
}
